*.iso
*.raw
tc_remaster/
tc_remaster.old.*/
iso_root/
tc_base/
tc_extensions/
*.log
*.txt
tc_trash_*/
temp_check/
download_debug.log
wget-log
extract_fonts/
temp_tc_unpack/
verify_tc/
verify_final/
tiny_splash
*.ttf
*.png
*.jpg
*.gz
*.tcz
*.dep
