set default=0
set timeout=15

insmod all_video
insmod gfxterm
insmod png
insmod jpeg

set gfxmode=1024x768,auto
terminal_output gfxterm

set theme=($root)/boot/grub/themes/dsecure/theme.txt
export theme

background_image /boot/grub/background.png

menuentry "D-Secure Drive Eraser (64-bit)" {
    echo "Loading D-Secure System Core..."
    linux /boot/vmlinuz64 loglevel=3 cde tce=cde waitusb=20 vga=791 showapps noswap laptop
    initrd /boot/core_custom.gz /boot/modules64.gz
}

menuentry "System Tools (Reboot)" {
    reboot
}

menuentry "Power Off" {
    halt
}
